@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient-radial {
  background-image: radial-gradient(circle, var(--tw-gradient-stops));
}

.translate-center-4 {
  transform: translateX(-50%) translate(1rem);
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
